/* http://meyerweb.com/eric/tools/css/reset/ {{{
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* }}} */

:root {
  --utility-bar-size: 6em;
  --stage-width: 1200px;
  --stage-height: calc(800px - var(--utility-bar-size) - 30px);
  overflow: hidden;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
}

.stage {
  position: relative;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.utility-bar {
  display: flex;
  position: fixed;
  align-items: center;
  overflow: auto;
}

@media screen and (orientation: portrait) {
  .utility-bar {
    bottom: 0;
    width: var(--stage-width);
    height: var(--utility-bar-size);
    flex-flow: row nowrap;
  }
}

@media screen and (orientation: landscape) {
  .utility-bar {
    top: 0;
    width: var(--utility-bar-size);
    height: var(--stage-height);
    flex-flow: column nowrap;
  }
}

.utility-bar > * {
  flex: 0 0 auto;
  margin: 0.5em;
}

/* Demo data {{{ */

.box {
  width: 100px;
  height: 100px;
}

.stage .box {
  position: absolute;
  font-size: 5em;
  line-height: 2;
  text-indent: 1.5ch;
}

.stage .box-1 {
  top: 200px;
  left: 150px;
}

.stage .box-2 {
  top: 700px;
  left: 650px;
}

.stage .box-3 {
  top: 10px;
  left: 1150px;
}

.stage .box-4 {
  top: calc(var(--stage-height) / 2);
  left: calc(var(--stage-width) / 2);
}

.stage .box-1 {
  top: 700px;
  left: 1500px;
}

.utility-bar .box {
  width: 5em;
  height: 5em;
}

.box-1 {
  background-color: pink;
}

.box-2 {
  background-color: limegreen;
}

.box-3 {
  background-color: orange;
}

.box-4 {
  background-color: rebeccapurple;
}

.box-5 {
  background-color: lightblue;
}

.utility-bar {
  background-color: aquamarine;
}

/* }}} */

/* vim: fdm=marker
 */
